@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan-lighter: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan-lighter: hsl(189, 41%, 93%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: var(--Light-grayish-cyan);
    font-family: 'Space Mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name{
    margin-bottom: 2rem;
}


.calculator{
    display: flex;
    margin-bottom: 5rem;
    flex-direction: row;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    min-width: 500px;
}

.calculator__data{
    flex: 1;
    margin-right: 1rem;
}

.calculator__select{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.calculator__select > div{
    background: var(--Very-dark-cyan);
    color: white;
    display: grid;
    place-items: center;
    min-width: 6rem;
    border-radius: 5px;
    height: 2rem;
    font-weight: 700;
}

.calculator__select > div:hover{
    background: hsl(172, 65%, 66%);
    color: var(--Very-dark-cyan);
    cursor: pointer;
}

.calculator__select > input {
    text-align: center;
    background: var(--Light-grayish-cyan-lighter);
    border: none;
    border-radius: 5px;
    max-width: 7rem;
    font-family: 'Space Mono', sans-serif;
}

.calculator__select > input::placeholder{
    color: var(--Dark-grayish-cyan);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: right;
}

.calculator__select > input:focus{
    border: 2px solid hsl(172, 67%, 45%);
    outline: none;
}

.calculator__data .error{
    color: rgb(253, 112, 112);
    display: none;
}

label, .calculator__data p{
    color: var(--Dark-grayish-cyan);
    display: block;
    font-weight: 700;
}

label{
    display: flex;
    justify-content: space-between;
}

.calculator__label-number{
    margin-top: 1rem;
}

.calculator__data > input{
    border: none;
    border-radius: 7px;
    padding: 5px;
    text-align: right;
    color:hsl(183, 100%, 15%);
    font-size: 24px;
    background-position: 15px;
    width: 100%;
    font-family: 'Space Mono', sans-serif;
}

.calculator__data > input:focus{
    outline:   none;
    border: 2px solid hsl(172, 67%, 45%);
}

.calculator__data > input::placeholder{
    text-align: right;
    color: var(--Very-dark-cyan);
}

.calculator__input-bill{
    background: url("images/icon-dollar.svg")  no-repeat 5px 5px, var(--Light-grayish-cyan-lighter);
}

.calculator__input-number{
    background: url("images/icon-person.svg") no-repeat 5px 5px, var(--Light-grayish-cyan-lighter);
}

.calculator__amount{
    background: var(--Very-dark-cyan);
    margin: 0 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-width: 250px;
}

.calculator__total  .total{
    color: var(--Light-grayish-cyan-lighter);
}

.calculator__total{
    display: flex;
    justify-content: space-between;
}

.calculator__button{
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 7px;
    padding: 1rem 0;
    background:hsl(183, 100%, 25%);
    color: var(--Very-dark-cyan);
    text-transform: uppercase;
    font-weight: 700;
}

.calculator__button:hover{
    background: var(--Light-grayish-cyan);

}

.calculator__amount span{
    color: var(--Dark-grayish-cyan-lighter);
}

.result{
    color: hsl(172, 67%, 45%);
    font-size: 2rem;
    line-height: 1rem;
}

@media (max-width: 900px){
    body{
        height: 100%;
        flex-direction: column;
        margin-top: 2rem;
        width: 100vw;
    }

    .calculator{
        flex-direction: column;
        min-width: 100px;
        margin: 1rem;
        padding: 1rem;
    }

    .calculator__amount{
        margin-top: 2rem;
    }

    .calculator__select{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}
