
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.container{
    display: flex;
    margin: 6rem auto;
    border-radius: 6px;
    overflow: hidden;
    max-width: 900px;
}

.container div{
    padding: 3rem;
}
.container_sedans{
    background-color: var(--orange);
}

.container_suvs{
    background-color: var(--cyan);
}

.container_luxury{
    background-color: var(--dark-cyan);
}

h1{
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-bottom: 2rem;
    font-size: 2.7rem;
}
.container div p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.container button{
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    background-color: hsl(0, 0%, 95%);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.container button:hover{
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

.btn-sedans{
    color: var(--orange);
}

.btn-suvs{
    color: var(--cyan);
}

.btn-luxury{
    color: var(--dark-cyan);
}

@media (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .container div p{
        font-size: 1.3rem;
    }
}